rover:LBEKkkAIpe2WM
jumpy:KIbSIFnBgd2BI

Here is the .htpasswd file used for users rover and jumpy. The .htpasswd file was created with the
following command: 

        htpasswd -c .htpasswd rover
        htpasswd .htpasswd jumpy

(The htpasswd command comes with NCSA httpd; see documentation.) 
